        		body {
        			background: #fff;
        			padding: 10px;
        			font-family: helvetica, sans-serif;
        			line-height: 125%;
        		}

        		#bodyHolder {
        			overflow-x: scroll;
					height: 660px;
					width: 660px;
        		}

        		#bodyHolder table {
        			vertical-align: top;
        			border-collapse: collapse;
        		}

        		#bodyHolder table td {
        			border: 1px solid #f1f2f2;
        			padding: 5px;
        			font-size: 12px;
        			vertical-align: top;
        		}

        		th {
        			font-weight: bold;
        			font-size: 12px;
        			text-align: left;
        			vertical-align: top;
        			padding: 5px;
        			border: 1px solid #f1f2f2;
        		}